body {
    background-color: #464f53;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 150px auto;
    width: 1060px;
    background-color: white;
    position: relative;
}

header {
    position: absolute;
    top: -85px;
    left: 250px;
    z-index: 10;
    width: 100vw;
}

.input-block {
    background-color: black;
    padding: 45px 0 50px 65px;
}

hr {
    height: 3px;
    border: none;
    background-color: white;
    opacity: 0.2;
}

.control-bar {
    width: 810px;
    background-color: #f6bb2c;
    margin-left: 50px;
    padding: 20px 30px;
    width: 100vw;
}

img {
    height: 40px;
}

input {
    font-family: 'Playfair Display', serif;
    background-color: transparent;
    border: 0px;
    font-size: 48px;
    color: white;
}

header h3 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: gray;
    font-size: 15px;
    letter-spacing: 0.3em;
}

main {
    width: 1060px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    border-left: 2px solid rgb(230, 230, 230);
    margin: 0 70px;
    padding: 200px 50px 20px;
}

.date{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: grey;
    letter-spacing: 0.2em;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 78px;
    font-weight: bold;
    color: black;
    padding: 40px 0 20px;
}

.content h3 {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 30px;
    color: grey;
    padding-bottom: 40px;
}

article p{
    font-family: 'Lora', serif;
    padding: 20px 0px;
    font-size: 27px;
    line-height: 1.5;
    text-align: justify;
}


.em {
    font-style: italic;
}