body {
    background-color: #464f53;
}

* {
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 45px;
    right: 0;
}

.input-block {
    background-color: black;
    padding: 45px 0 50px 65px;
}

.control-bar {
    width: 810px;
    background-color: #f6bb2c;
    margin-left: 50px;
    padding: 20px 30px;
}

img {
    height: 40px;
}

input {
    background-color: transparent;
    border: 0px;
    font-size: 48px;
    color: white;
}

header h3 {
    text-transform: uppercase;
    color: gray;
    font-size: 15px;
}

main {
    width: 1160px;
    margin: 150px auto;
    background-color: white;
}

.content {
    border-left: 2px solid rgb(230, 230, 230);
    margin: 0 70px;
    padding-left: 50px;
    padding-top: 200px;
    padding-bottom: 20px;
}

.date{
    text-transform: uppercase;
    color: grey;
    margin-bottom: 40px;
}

h1 {
    text-transform: uppercase;
    font-size: 78px;
    color: black;
}

.content h3 {
    font-size: 30px;
    color: grey;
    margin-bottom: 40px;
}

article p:first-child {
    margin-bottom: 45px;
    font-size: 27px;
    line-height: 1.5;
}

article p:last-child{
    font-size: 27px;
    line-height: 1.5;
}